user.config
engine

# Visual Studio
.vs
Release
bin
obj
*.ncb
*.vcproj*
*.suo
*.user
*.sln.cache
*.manifest
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
_ReSharper.*/

# binaries
/*.exe
/*.dll
/*.dll.config
/*.so
/*.dylib
/*.pdb
/*.mdb
*.mmdb.gz
/mods/ta/*.dll
/mods/ta/*.dll.config
/mods/ta/*.pdb
/mods/ta/*.mdb
/mods/ta/*.exe
/mods/ta/*.exe.config
/mods/ta/*.deps.json

# TODO: Compiling creates a /mods/common folder with dlls and pdbs
OpenRA.Mods.TA/mods/*
mods/common/*

# StyleCop
StyleCopViolations.xml

# backup files by various editors
*~
*.orig
\#*
.*.sw?

# Monodevelop
*.pidb
*.userprefs

# Mac OS X
.DS_Store

# XCode
temp.c
temp.o
temp.s
*.resources

# SublimeText
*.sublime-project
*.sublime-workspace

!curl.exe

.idea