######################
# Core Configuration #
######################

MOD_ID="ta"

ENGINE_VERSION="1bcb076f80de2d12f6f10a2b19698c976fd42289"

##########################
# Continuous Integration #
##########################

TRAVIS_TEST_MOD="True"

TRAVIS_TEST_PACKAGING="False"

###########################
# Packaging Configuration #
###########################

PACKAGING_INSTALLER_NAME="TA"

PACKAGING_DISPLAY_NAME="Tiberian Aurora"

PACKAGING_WEBSITE_URL="http://openra.net"

PACKAGING_FAQ_URL="http://wiki.openra.net/FAQ"

PACKAGING_AUTHORS="The Tiberian Aurora authors"

PACKAGING_OSX_LAUNCHER_TAG="osx-launcher-20200209"

# The macOS disk image icon positions, matched to the background artwork
PACKAGING_OSX_DMG_MOD_ICON_POSITION="190, 210"
PACKAGING_OSX_DMG_APPLICATION_ICON_POSITION="410, 210"
PACKAGING_OSX_DMG_HIDDEN_ICON_POSITION="190, 350"

PACKAGING_WINDOWS_LAUNCHER_NAME="TA"

PACKAGING_WINDOWS_INSTALL_DIR_NAME="OpenRA Tiberian Aurora"

PACKAGING_WINDOWS_REGISTRY_KEY="OpenRATA"

PACKAGING_WINDOWS_LICENSE_FILE="./LICENSE"

PACKAGING_COPY_ENGINE_FILES="./mods/modcontent"

PACKAGING_OVERWRITE_MOD_VERSION="False"

##########################
# Advanced Configuration #
##########################

# Can be overwritten in user.config if you want to manage it manually/using git (e.g. submodules)
AUTOMATIC_ENGINE_MANAGEMENT="True"

AUTOMATIC_ENGINE_SOURCE="https://gitee.com/CastleJing/TA_Engine/repository/archive/${ENGINE_VERSION}.zip"

AUTOMATIC_ENGINE_EXTRACT_DIRECTORY="./engine_temp"
AUTOMATIC_ENGINE_TEMP_ARCHIVE_NAME="engine.zip"
ENGINE_DIRECTORY="./engine"
